/* body */

body {
    background-color: blue;
}

/* images */
img {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
}

/* specific images */
#red1 {
    width: 50px;
    opacity: 0.5;
}

#black1 {
    width: 200px;;
    z-index: -1;
}

#green1 {
    width: 300px;
    z-index: -2;
}

#black2 {
    width: 400px;
    z-index: -3;
}

#red2 {
    width: 550px;
    z-index: -4; 
    opacity: 0.5;
}

#black3 {
    width: 600px;
    z-index: -5;
}