h1 {
    text-align: center;
    color: #3d3d3d;
    background-color: lightseagreen;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    border: 2px solid khaki
    
    }
    
p {
    color: #3d3d3d;
    font-family: 'Times New Roman', Times, serif;
    }
    
li {
    color: rgb(0, 99, 99);
    font-family: 'Times New Roman', Times, serif
    }