a[href^="http://"] {              /* write this fully so you won't mess it up [href^="http://"]*/
    color: blue;

}

a[href^="https://"] {
    color: purple;
}

li:nth-child(2) a { 
    font-style: italic;
}
li:nth-last-child(2) a {
    font-weight: bold;
}

a[href*=".org"] {
    text-transform: uppercase;
}