/* General styles - put these straight into your stylesheet */

body {
    margin: 0;
  }
  
html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: rgba(204, 204, 204, 0.68);
  }
  
  /* Rulesets for multiple areas*/
  
.card {
    width: 35em;
    height: 22em;
    margin: 20em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
    
  }

.card-header {
    background-image: 
      linear-gradient(to bottom,rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0)),
      linear-gradient(to top,rgba(0, 0, 0, 0.300), rgba(0, 0, 0, 0));
  }
  
.card-article-img {
    max-height: 12.75em;
    float: right;
  }

/* Rulesets for specific areas*/
#name-contact {
  margin: 10px;
  font-size: 2em;
  }

#contact-info{
  color: white;
  line-height:1.4em;
  letter-spacing: .05em;
  padding: 1.5em;   
  }

#summary {
  margin: 10px;
  font-size: 1.5em;
  padding: .25em;
  }
