div {
    margin: 10px;
    }
    
div>input{
    margin-bottom: 1em;
    }

ol {
    padding: 2em;
    padding-top: 0;
    }
ol li {
    display: outline;
}

textarea:focus {
    background-color: yellow;
    }

fieldset {
    display: block;
    width: 10em;
    height: 10em;
    }

