body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    font-size: 28px;
    line-height: 1.6em;
    font-family: 'Orbitron', sans-serif;
}

#calc {
    width: 10em;
    margin: 0 auto;
    background-color: rgba(0, 121, 96, 0.76);
    color: black;
    border: 2px solid black;
}

#output {
    height: 2em;
    border-bottom: 1px solid black;
    background-color: lightblue;
    text-align: right;
    padding-right: 1em;
}

.row {
    margin: 5px;
    text-align: center;
}

.key {
    display: inline-block;
    /* margin: 3%; */
    padding: 1%;
    width: 17%;
    height: 25%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
}

.bigkey {
    width: 39%;
}

/* .clearall {
    clear:  both;
} */

/* .memory {
    float: right;
    font-size: 50%;
    color: white;
    margin-right: 1em;
} */