/* Bears - Mobile

Build a page about bears with a font size of 24 pixels and a width of 40em. 
The content should be centered in the browser window. Build a @media query to 
target devices with a width of less than 961 pixels. These devices should display 
the page with a width of 30em. 
*/

/* General Setup */
html {
    text-align: auto;
}

body {
    font-size: 24px;
    width: 40em;
}
@media (max-width: 961px) {
    body {
        font-size: 12px;
        width: 30em;
        
    }
}




/* links */

a:link {
    text-decoration: none;
    }
