/* General setup */
body {
    margin: 0;
}

h1 {
    /* padding-left: 30%; format the heading*/
    margin: 0;
    text-align: center;
    padding: 30px;
}


/* Leftside navigation bar */
nav {
    background-color: rgb(141, 206, 212);
    position: absolute;
    text-align: center;
    height: 100%;
    width: 20%;
    padding-top: 30px;   
    box-shadow: 0 0 5px #ccc;
}

nav ol {
    list-style: none;
    padding: 0;
}

nav li {
    padding: 1em;
    display: outline;
}

/* Links */

a {
    text-decoration: none;
    padding: .5em; /* add padding to the original inorder for content not to move when you hover over it*/
}

a:link, 
a:visited {
    color: #000;
}

a:hover {
    background-color: rgb(255, 244, 244);
    padding: .5em;
}


/* Body Content */

div.content {
 width: 72%;
 position: absolute;
 right: 0;
 margin: 2em;
}

ol li {
    padding-bottom: 1em;
}

/* Image */

img {
    width: 40%
}


/* Media queries - best to use media queries on the bottom */

@media only screen and (max-width: 600px) {

    nav {
        height:10%;
        width: 100%;
    }
    
    nav li {
        display: inline;
    }

    nav img {
        display: none;
    }

    div.content {
        width: 100%;
        top: 7em;
    }
}

@media print {
    nav {
        display: none;
    }
    div.content {
        width: 100%;
    }
}