/* General setup */
body {
    margin: 0;
}

h1 {
    /* padding-left: 30%; format the heading*/
    margin: 0;
    text-align: center;
    padding: 30px;
}

/* Leftside navigation bar */
nav {
    background-color: rgb(234, 255, 221);
    position: absolute;
    text-align: center;
    height: 100%;
    width: 20%;
    padding-top: 30px;   
    box-shadow: 0 0 5px #ccc;
}

nav ol {
    list-style: none;
    padding: 0;
}

nav li {
    padding: 1em;
    display: outline;
}

/* Links */

a {
    text-decoration: none;
    padding: .5em; /* add padding to the original inorder for content not to move when you hover over it*/
}

a:link {
    color: #000;
}

a:visited {
    color: #000;
}

a:hover {
    background-color: rgb(255, 244, 244);
    padding: .5em;
}

/* .invisibleborder {
    padding: 1px solid rgba(0,0,0,0);
} 
no need for invisible border here since the padding adjusted it above
*/

/* Body Content */

.aligninfo {
    margin: 0 10% 0 25%;
}

@media print {
    .leftsidenav {
        display: none;
    }
}